[package]
name = "rstetris"
version = "0.1.0"
authors = ["Dominik Prien <dprien@users.noreply.github.com>"]
edition = "2018"

[lib]
crate-type = ["cdylib"]

[profile.release]
lto = "thin"

[dependencies]
