html, body {
    margin: 0;
    padding: 0;

    overflow: hidden;
}

body {
    color: #fff;
    background-color: #000;
}

.outer {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    width: 100vw;
    max-width: calc(100vh * (9 / 16));
    height: 100vh;

    margin: 0 auto;

    background-image: linear-gradient(to left bottom, #000000, #120009, #190117, #180523, #0a0c32);
}

.inner {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
}

.left, .right {
    flex: 1;
    overflow: hidden;
}

.top, .middle {
    flex: 2;
}

.bottom {
    flex: 1;
}

#the_canvas {
    display: block;
    box-sizing: border-box;

    width: calc(75vh * (10 / 20));
    height: 75vh;

    margin: 0 auto;

    border: 2px solid #00a0a0;
    background-color: #000;
}

#top_bar {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: monospace;
}

#top_bar span.title {
    color: #fff;

    font-size: 2vh;
    font-weight: bold;
}

#top_bar span.game-over {
    color: #e00000;

    font-family: fantasy;
    font-size: 8vh;
    font-weight: bold;

    letter-spacing: 0.4vh;
}

#stats {
    text-align: right;
    padding-top: 0;
    padding-right: 0.5vh;
}

#stats > div {
    margin-bottom: 3vh;
}

#stats span.name {
    display: block;

    color: #00e0e0;

    font-family: fantasy;
    font-size: 2vh;
    font-weight: bold;
    letter-spacing: 0.15vh
}

#stats span.value {
    display: block;

    font-family: monospace;
    font-size: 1.5vh;
}
