html, body {
    margin: 0;
    padding: 0;

    overflow: hidden;
}

body {
    background-color: #000;
    color: #fff;
}

.outer {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    width: 100vw;
    max-width: calc(100vh * (9 / 16));
    height: 100vh;

    margin: 0 auto;
}

.inner {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
}

.top, .middle, .bottom, .left, .right {
    flex: 1;
}

#the_canvas {
    display: block;
    box-sizing: border-box;

    width: calc(75vh * (10 / 20));
    height: 75vh;

    margin: 0 auto;

    border: 2px solid #00a0a0;
}

#stats {
    text-align: right;
    padding-right: 1em;
}
